.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.DS_Store

# IDE
.idea/
.vscode/
xray_gui.iml

# Platform artifacts
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
